{% include 'header.html' %}
{% include 'navbar.html' %}
{% include 'sidebar.html' %}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">{{ log_title }}</h1>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Timestamp</th>
                                    <th>Actor</th>
                                    <th>Action</th>
                                    <th>Details</th>
                                    <th>Tenant</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for log in logs %}
                                <tr>
                                    <td>{{ log.timestamp|date:"d M Y, H:i" }}</td>
                                    <td>{{ log.actor.email|default:'System' }}</td>
                                    <td>{{ log.get_action_type_display }}</td>
                                    <td>{{ log.details }}</td>
                                    <td>{{ log.tenant.name|default:'N/A' }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% include 'footer.html' %}
{% include 'footer_link.html' %}