{% load static %}
<style>
    /* Sidebar Enhancements */
    .main-sidebar {
        background: linear-gradient(135deg, #1a2a3a 0%, #0d1721 100%);
    }
    
    .nav-header {
        font-size: 0.75rem;
        padding: 0.5rem 1rem;
        letter-spacing: 1px;
    }
    
    .nav-link {
        border-left: 3px solid transparent;
        margin-bottom: 2px;
    }
    
    .nav-link.active, .nav-link:hover {
        background: rgba(255,255,255,0.05);
        border-left-color: #4e73df;
    }
    
    .nav-item > .nav-link > i {
        min-width: 25px;
        text-align: center;
    }
    
    .brand-link {
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }
    
    .user-panel {
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }
</style>
<!-- User Avtar Style -->
<style>
    /* Add this new style for the avatar */
    .initials-avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 34px; /* Matches AdminLTE's img-circle size */
        height: 34px;
        border-radius: 50%;
        /* background-color: #20c997; A nice teal color */
        background-color: #b482eb; /* lavender color */
        color: white;
        font-weight: bold;
        font-size: 1rem;
        text-transform: uppercase;
    }
</style>
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4" style="background: #1a2a3a;">
    <!-- Brand Logo -->
    <a href="{% url 'dash' %}" class="brand-link text-center" style="background: rgba(204, 180, 180, 0.1);">
        <img src="{% static 'dist/img/erp1.png' %}" alt="ERP Logo" class="brand-image" style="opacity: .9; width: 30px; height: 30px;">
        <span class="brand-text font-weight-light" style="font-family:'Courier New', Courier, monospace; font-size: 1.1rem; color: white;">ERP System</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar User Panel -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                {% if request.user.full_name %}
                <div class="initials-avatar">{{ request.user.full_name|first }}</div>
                {% else %}
                <div class="initials-avatar">{{ request.user.email|first }}</div>
                {% endif %}
            </div>
            <div class="info">
                {% if request.user.is_authenticated %}
                <a href="#" class="d-block text-white">
                    {{ request.user.full_name|default:request.user.email }}
                    <span style="background-color: #b482eb;" class="badge badge-info ml-1">{{ request.user.get_role_display }}</span>
                </a>
                {% endif %}
            </div>
        </div>

        <!-- Quick Action Button -->
        <!-- <div class="px-3 mb-3">
            <a href="{% url 'Create_Sale' %}" class="btn btn-success btn-block btn-sm">
                <i class="fas fa-plus-circle mr-1"></i> New Sale
            </a>
        </div> -->

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Superadmin Dashboard -->
                {% if add.role ==  "superadmin"%}
                <li class="nav-item">
                    <a href="{% url 'superadmin_dashboard' %}"
                        class="nav-link {% if request.resolver_match.url_name == 'superadmin_dashboard' %}active{% endif %}">
                        <i class="nav-icon fas fa-user-shield"></i>
                        <p>Superadmin</p>
                    </a>
                </li>
                {% endif %}
                <!-- Dashboard -->
                <!-- <li class="nav-item">
                    <a href="{% url 'dash' %}" class="nav-link {% if request.path == '/' %}active{% endif %}">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Dashboard</p>
                    </a>
                </li> -->

                {% with menu_path='dash' %}
                {% if add.role == 'superadmin' %}
                <li class="nav-item has-treeview {% if request.resolver_match.url_name == menu_path %}menu-open{% endif %}">
                    <a href="#" class="nav-link {% if request.resolver_match.url_name == menu_path %}active{% endif %}">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Dashboard <i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        {% for t in all_tenants_for_superadmin %}
                        <li class="nav-item">
                            <a href="{% url menu_path %}?tenant_id={{ t.id }}"
                                class="nav-link {% if tenant.id == t.id and request.resolver_match.url_name == menu_path %}active{% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>{{ t.name }}</p>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{% url menu_path %}"
                        class="nav-link {% if request.resolver_match.url_name == menu_path %}active{% endif %}">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                {% endif %}
                {% endwith %}

                <!-- Core Modules -->
                <li class="nav-header text-uppercase text-muted">Core Modules</li>

                <!-- Party Modules -->
                {% with menu_path='Party_list' %}
                {% if add.role == 'superadmin' %}
                <li class="nav-item has-treeview {% if request.resolver_match.url_name == menu_path %}menu-open{% endif %}">
                    <a href="#" class="nav-link {% if request.resolver_match.url_name == menu_path %}active{% endif %}">
                        <i class="nav-icon fas fa-users"></i><p>Parties <i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        {% for t in all_tenants_for_superadmin %}<li class="nav-item"><a href="{% url menu_path %}?tenant_id={{ t.id }}" class="nav-link {% if tenant.id == t.id and request.resolver_match.url_name == menu_path %}active{% endif %}"><i class="far fa-circle nav-icon"></i><p>{{ t.name }}</p></a></li>{% endfor %}
                    </ul>
                </li>
                {% else %}
                <li class="nav-item"><a href="{% url menu_path %}" class="nav-link {% if request.resolver_match.url_name == menu_path %}active{% endif %}"><i class="nav-icon fas fa-users"></i><p>Parties</p></a></li>
                {% endif %}
                {% endwith %}

                <!-- Item Modules -->
                {% with menu_path='Item_list' %}
                {% if add.role == 'superadmin' %}
                <li class="nav-item has-treeview {% if request.resolver_match.url_name == menu_path %}menu-open{% endif %}">
                    <a href="#" class="nav-link {% if request.resolver_match.url_name == menu_path %}active{% endif %}">
                        <i class="nav-icon fas fa-boxes"></i><p>Inventory Items <i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        {% for t in all_tenants_for_superadmin %}<li class="nav-item"><a href="{% url menu_path %}?tenant_id={{ t.id }}" class="nav-link {% if tenant.id == t.id and request.resolver_match.url_name == menu_path %}active{% endif %}"><i class="far fa-circle nav-icon"></i><p>{{ t.name }}</p></a></li>{% endfor %}
                    </ul>
                </li>
                {% else %}
                <li class="nav-item"><a href="{% url menu_path %}" class="nav-link {% if request.resolver_match.url_name == menu_path %}active{% endif %}"><i class="nav-icon fas fa-boxes"></i><p>Inventory Items</p></a></li>
                {% endif %}
                {% endwith %}

                <!-- Transactions -->
                <li class="nav-header text-uppercase text-muted">Transactions</li>

                <!-- Sales Modules -->
                {% with menu_path='sales_list' %}
                {% if add.role == 'superadmin' %}
                <li class="nav-item has-treeview {% if menu_path in request.path %}menu-open{% endif %}">
                    <a href="#" class="nav-link {% if menu_path in request.path %}active{% endif %}">
                        <i class="nav-icon fas fa-cash-register"></i><p>Sales <i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        {% for t in all_tenants_for_superadmin %}<li class="nav-item"><a href="{% url menu_path %}?tenant_id={{ t.id }}" class="nav-link {% if tenant.id == t.id and menu_path in request.path %}active{% endif %}"><i class="far fa-circle nav-icon"></i><p>{{ t.name }}</p></a></li>{% endfor %}
                    </ul>
                </li>
                {% else %}
                <li class="nav-item"><a href="{% url menu_path %}" class="nav-link {% if menu_path in request.path %}active{% endif %}"><i class="nav-icon fas fa-cash-register"></i><p>Sales</p></a></li>
                {% endif %}
                {% endwith %}

                <!-- Purchase Modules -->
                {% with menu_path='purchase_list' %}
                {% if add.role == 'superadmin' %}
                <li class="nav-item has-treeview {% if 'purchase' in request.path %}menu-open{% endif %}">
                    <a href="#" class="nav-link {% if 'purchase' in request.path %}active{% endif %}">
                        <i class="nav-icon fas fa-shopping-cart"></i><p>Purchases <i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        {% for t in all_tenants_for_superadmin %}<li class="nav-item"><a href="{% url menu_path %}?tenant_id={{ t.id }}" class="nav-link {% if tenant.id == t.id and 'purchase' in request.path %}active{% endif %}"><i class="far fa-circle nav-icon"></i><p>{{ t.name }}</p></a></li>{% endfor %}
                    </ul>
                </li>
                {% else %}
                <li class="nav-item"><a href="{% url menu_path %}" class="nav-link {% if 'purchase' in request.path %}active{% endif %}"><i class="nav-icon fas fa-shopping-cart"></i><p>Purchases</p></a></li>
                {% endif %}
                {% endwith %}
                

                <!-- Inventory Management -->
                <li class="nav-header text-uppercase text-muted">Inventory</li>

                <!-- # Stock Adjustments url -->
                {% with menu_path='stock_adjustment_list' %}
                {% if add.role == 'superadmin' %}
                <li class="nav-item has-treeview {% if 'stock-adjustments' in request.path %}menu-open{% endif %}">
                    <a href="#" class="nav-link {% if 'stock-adjustments' in request.path %}active{% endif %}">
                        <i class="nav-icon fas fa-clipboard-check"></i>
                        <p>Stock Adjustments <i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        {% for t in all_tenants_for_superadmin %}
                        <li class="nav-item">
                            <a href="{% url menu_path %}?tenant_id={{ t.id }}"
                                class="nav-link {% if tenant.id == t.id and 'stock-adjustments' in request.path %}active{% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>{{ t.name }}</p>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{% url menu_path %}" class="nav-link {% if 'stock-adjustments' in request.path %}active{% endif %}">
                        <i class="nav-icon fas fa-clipboard-check"></i>
                        <p>Stock Adjustments</p>
                    </a>
                </li>
                {% endif %}
                {% endwith %}


                <!-- Financial -->
                <!-- <li class="nav-header text-uppercase text-muted">Financial</li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-money-bill-wave"></i>
                        <p>Expenses</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-file-invoice-dollar"></i>
                        <p>Invoicing</p>
                    </a>
                </li> -->

                <!-- Reports -->
                <li class="nav-header text-uppercase text-muted">Analysis & Reports</li>

                <!-- Vendors Performance Report -->
                {% with menu_path='vendor_performance' %}
                {% if add.role == 'superadmin' %}
                <li class="nav-item has-treeview {% if request.resolver_match.url_name == menu_path %}menu-open{% endif %}">
                    <a href="#" class="nav-link {% if request.resolver_match.url_name == menu_path %}active{% endif %}">
                        <i class="nav-icon fas fa-chart-line"></i><p>Vendor Performance <i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        {% for t in all_tenants_for_superadmin %}<li class="nav-item"><a href="{% url menu_path %}?tenant_id={{ t.id }}" class="nav-link {% if tenant.id == t.id and request.resolver_match.url_name == menu_path %}active{% endif %}"><i class="far fa-circle nav-icon"></i><p>{{ t.name }}</p></a></li>{% endfor %}
                    </ul>
                </li>
                {% else %}
                <li class="nav-item"><a href="{% url menu_path %}" class="nav-link {% if request.resolver_match.url_name == menu_path %}active{% endif %}"><i class="nav-icon fas fa-chart-line"></i><p>Vendor Performance</p></a></li>
                {% endif %}
                {% endwith %}

                <!-- Sales Reports -->
                {% with menu_path='sales_report' %}
                {% if add.role == 'superadmin' %}
                <li class="nav-item has-treeview {% if request.resolver_match.url_name == menu_path %}menu-open{% endif %}">
                    <a href="#" class="nav-link {% if request.resolver_match.url_name == menu_path %}active{% endif %}">
                        <i class="nav-icon fas fa-chart-bar"></i>
                        <p>Sales Report <i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        {% for t in all_tenants_for_superadmin %}<li class="nav-item"><a href="{% url menu_path %}?tenant_id={{ t.id }}"
                                class="nav-link {% if tenant.id == t.id and request.resolver_match.url_name == menu_path %}active{% endif %}"><i
                                    class="far fa-circle nav-icon"></i>
                                <p>{{ t.name }}</p>
                            </a></li>{% endfor %}
                    </ul>
                </li>
                {% else %}
                <li class="nav-item"><a href="{% url menu_path %}"
                        class="nav-link {% if request.resolver_match.url_name == menu_path %}active{% endif %}"><i
                            class="nav-icon fas fa-chart-bar"></i>
                        <p>Sales Report</p>
                    </a></li>
                {% endif %}
                {% endwith %}

                <!-- Inventory Reports -->
                {% with menu_path='inventory_report' %}
                {% if add.role == 'superadmin' %}
                <li class="nav-item has-treeview {% if request.resolver_match.url_name == menu_path %}menu-open{% endif %}">
                    <a href="#" class="nav-link {% if request.resolver_match.url_name == menu_path %}active{% endif %}">
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>Inventory Report <i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        {% for t in all_tenants_for_superadmin %}
                        <li class="nav-item">
                            <a href="{% url menu_path %}?tenant_id={{ t.id }}"
                                class="nav-link {% if tenant.id == t.id and request.resolver_match.url_name == menu_path %}active{% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>{{ t.name }}</p>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{% url menu_path %}"
                        class="nav-link {% if request.resolver_match.url_name == menu_path %}active{% endif %}">
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>Inventory Report</p>
                    </a>
                </li>
                {% endif %}
                {% endwith %}

                <!-- Financial Statements -->
                <!-- <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-file-alt"></i>
                        <p>Financial Statements</p>
                    </a>
                </li> -->

                <!-- Expenses Report -->
                {% with menu_path='expense_list' %}
                {% if add.role == 'superadmin' %}
                <li class="nav-item has-treeview {% if 'expense' in request.path %}menu-open{% endif %}">
                    <a href="#" class="nav-link {% if 'expense' in request.path %}active{% endif %}">
                        <i class="nav-icon fas fa-money-bill-wave"></i>
                        <p>Expenses <i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        {% for t in all_tenants_for_superadmin %}<li class="nav-item"><a href="{% url menu_path %}?tenant_id={{ t.id }}"
                                class="nav-link {% if tenant.id == t.id and 'expense' in request.path %}active{% endif %}"><i
                                    class="far fa-circle nav-icon"></i>
                                <p>{{ t.name }}</p>
                            </a></li>{% endfor %}
                    </ul>
                </li>
                {% else %}
                <li class="nav-item"><a href="{% url menu_path %}"
                        class="nav-link {% if 'expense' in request.path %}active{% endif %}"><i
                            class="nav-icon fas fa-money-bill-wave"></i>
                        <p>Expenses</p>
                    </a></li>
                {% endif %}
                {% endwith %}

                <!-- System -->
                <li class="nav-header text-uppercase text-muted">System</li>
                <!-- <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user-tie"></i>
                        <p>Employee Management</p>
                    </a>
                </li> -->
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-cog"></i>
                        <p>Settings</p>
                    </a>
                </li>
            </ul>
            <br><br>
        </nav>
    </div>
</aside>